body {
	margin: 0;
	display: grid;
	place-items: center;
	height: 100vh;
	background: #333;
}

body > * {
	grid-area: 1 / 1 / 2 / 2;
}

.lights {
	display: grid;

	--radius: 15vmin;
	--length: 20vmin;

	--height: calc(var(--length) * sqrt(3) / 2);

	animation: rotate360 2s linear infinite forwards;

	> div {
		grid-area: 1 / 1 / 2 / 2;
		mix-blend-mode: screen;

		&:nth-child(1) {
			transform: translate(0, calc(var(--height) * -2 / 3));
			--clr: var(--clr-r, #f00c);
			--tx: var(--tx-r, 0);
			--ty: var(--ty-r, calc(var(--radius) * -1));
			--td: var(--td-r, 3s);
		}

		&:nth-child(2) {
			transform: rotate(-120deg) translate(0, calc(var(--height) * -2 / 3));
			--clr: var(--clr-g, #0f0c);
			--tx: var(--tx-g, 0);
			--ty: var(--ty-g, calc(var(--radius) * -1));
			--td: var(--td-g, 3s);
		}

		&:nth-child(3) {
			transform: rotate(-240deg) translate(0, calc(var(--height) * -2 / 3));
			--clr: var(--clr-b, #00fc);
			--tx: var(--tx-b, 0);
			--ty: var(--ty-b, calc(var(--radius) * -1));
			--td: var(--td-b, 3s);
		}
	}

	> div > div {
		background-color: var(--clr);

		width: calc(var(--radius) * 2);
		aspect-ratio: 1;
		border-radius: 50%;
		animation: varBounce var(--td) cubic-bezier(.5,.25,.5,.75) 3s infinite forwards;

	}
}

@keyframes rotate360 {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}

@keyframes varBounce {
	from, to {
		translate: 0 0;
	}

	50% {
		translate: var(--tx) var(--ty);
	}
}

.laser {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;


	--width: 1.5vmin;
	--clr: #555c;
	--rotation: -90deg;
	--top: 0%;
	--left: 0%;

	> div {
		mix-blend-mode: screen;
		width: var(--width);
		height: calc(100vmax * sqrt(2));
		display: grid;
		place-items: center;
		
		
		background-color: var(--clr);
		transform-origin: calc(var(--width) / 2) calc(var(--width) / 2);
		transform: rotate(var(--rotation)) translateY(calc(100vmax * (sqrt(2) - 1) / 2 * -1));
		position: absolute;
		top: var(--top);
		left: var(--left);
	}

	> div > div {
		mix-blend-mode: screen;
		/*background-color: var(--clr);*/
		height: 100%;
		width: calc(var(--width) / 3);
	}
}

